# ==========================================
# Application
# ==========================================

APP_ENV=development

# ==========================================
# Frontend
# ==========================================

NEXT_PUBLIC_API_URL=http://localhost:8000

# ==========================================
# Backend
# ==========================================

API_HOST=0.0.0.0
API_PORT=8000

# ==========================================
# PostgreSQL
# ==========================================

POSTGRES_DB=vanbass
POSTGRES_USER=vanbass
POSTGRES_PASSWORD=change_me

DATABASE_URL=postgresql+psycopg://vanbass:change_me@localhost:5432/vanbass

# ==========================================
# Redis
# ==========================================

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0